plotly
dash
stockstats
dash_bootstrap_components
requests
requests-html
dash_html_components
dash_table
dash_core_components
gunicorn
werkzeug
pandas
python-dotenv
binance
pytz
python-binance
scikit-learn
tensorflow==2.16.1
keras==3.3.3
xgboost
pandas_ta